body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "Roboto", sans-serif;
	color: #776e65;
	padding-bottom: 5rem;
	background-color: #faf8ef;
}

header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header h1 {
	width: 50%;
	font-size: 3rem;
}

.scoreContainer {
	width: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.scoreBox p {
	padding: 0;
	margin: 0;
}

.scoreBox {
	background-color: #bbada0;
	height: 75px;
	min-width: 125px;
	border-radius: 10px;
	box-sizing: border-box;
	padding: 10px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.scoreNumber {
	color: #faf8ef;
	font-weight: bolder;
	font-size: 1.3rem;
}

.scoreText {
	color: #eee4da;
	font-weight: bold;
}

main {
	display: flex;
	flex-direction: column;
	width: 70vmin;
}

.outerGrid {
	width: 70vmin;
	height: 70vmin;
	margin: 2rem auto;
	background-color: #bbada0;
	border-radius: 10px;
	position: relative;
	z-index: 10;
}

.grid {
	width: 100%;
	position: relative;
}

.cell {
	width: 15vmin;
	height: 15vmin;
	margin: 2vmin 2vmin 0 0;
	background-color: #cdc1b4;
	float: left;
	border-radius: 5px;
}

.cell:nth-child(4n + 1) {
	margin-left: 2vmin;
}

.number {
	position: absolute;
	height: 15vmin;
	width: 15vmin;
	transition: all 300ms;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	border-radius: 5px;
	z-index: 10;
}

#howToPlay {
	text-align: center;
	font-size: 1.2rem;
}

#gameOver {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	background-color: rgba(255, 255, 255, 0.7);
	display: none;
	z-index: -10;
	justify-content: center;
	align-items: center;
}

#gameOverInner {
	height: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

#gameOverInner div h1 {
	font-size: 2.5rem;
	padding: 0;
	margin: 0;
}

button {
	background-color: #8f7a66;
	padding: 0.75rem 1.5rem;
	border-radius: 5px;
	outline: none;
	border: none;
	font-weight: bold;
	color: #faf8ef;
}

button:hover {
	cursor: pointer;
}

img {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	object-fit: cover;
}

@keyframes growShrinkCell {
	0% {
		transform: scale(0.5, 0.5);
	}

	50% {
		transform: scale(1.3, 1.3);
	}

	100% {
		transform: scale(1, 1);
	}
}

@-webkit-keyframes growShrinkCell {
	0% {
		-webkit-transform: scale(0.5, 0.5);
	}

	50% {
		-webkit-transform: scale(1.3, 1.3);
	}

	100% {
		-webkit-transform: scale(1, 1);
	}
}

@-moz-keyframes growShrinkCell {
	0% {
		-moz-transform: scale(0.5, 0.5);
	}

	50% {
		-moz-transform: scale(1.3, 1.3);
	}

	100% {
		-moz-transform: scale(1, 1);
	}
}

@media (max-width: 700px) {
	header {
		flex-direction: column;
	}

	header h1 {
		width: 100%;
		text-align: center;
	}

	.scoreContainer {
		width: 100%;
	}

	#gameOverInner div h1 {
		font-size: 1rem;
	}
}
